<section class="restaurant">
  <div class="container-rest">
    <div class="rest-card1">
      <div>
        <p class="rest-title">Amet minim mollit non</p>
        <h3 class="rest-logo">MIMIHO</h3>
        <p class="rest-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <picture class="rest-img1">
        <source
          media="(min-width: 1280px)"
          srcset="
            ./img/restaurant/rest-desktop-1_1x.jpg 1x,
            ./img/restaurant/rest-desktop-1_2x.jpg 2x
          "
          class="rest-img"
        />
        <source
          media="(min-width: 1024px)"
          srcset="
            ./img/restaurant/rest-tablet-1_1x.jpg 1x,
            ./img/restaurant/rest-tablet-1_2x.jpg 2x
          "
        />
        <source
          media="(max-width: 1023px)"
          srcset="
            ./img/restaurant/rest-mobile-1_1x.jpg 1x,
            ./img/restaurant/rest-mobile-1_2x.jpg 2x
          "
        />
        <img
          src="./img/restaurant/rest-mobile-1_1x.jpg"
          alt="cooking"
          class="rest-img img4"
          width="460"
          height="574"
        />
      </picture>
    </div>
    <div class="rest-card2">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            ./img/restaurant/rest-desktop-2_1x.jpg 1x,
            ./img/restaurant/rest-desktop-2_2x.jpg 2x
          "
        />
        <source
          media="(min-width: 1024px)"
          srcset="
            ./img/restaurant/rest-tablet-2_1x.jpg 1x,
            ./img/restaurant/rest-tablet-2_2x.jpg 2x
          "
        />
        <source
          media="(max-width: 1023px)"
          srcset="
            ./img/restaurant/rest-mobile-2_1x.jpg 1x,
            ./img/restaurant/rest-mobile-2_2x.jpg 2x
          "
        />
        <img
          src="./img/restaurant/rest-mobile-2_1x.jpg"
          alt="knife and meat"
          class="rest-img img5"
          width="460"
          height="574"
        />
      </picture>
      <p class="rest-card-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>

    <div class="rest-slider-box swiper">
      <ul class="rest-slider-list swiper-wrapper">
        <li class="rest-slider-image first-img swiper-slide">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/restaurant/rest-desktop-3_1x.jpg 1x,
                ./img/restaurant/rest-desktop-3_2x.jpg 2x
              "
            />
            <source
              media="(min-width: 1024px)"
              srcset="
                ./img/restaurant/rest-tablet-3_1x.jpg 1x,
                ./img/restaurant/rest-tablet-3_2x.jpg 2x
              "
            />
            <source
              media="(max-width: 1023px)"
              srcset="
                ./img/restaurant/rest-mobile-3_1x.jpg 1x,
                ./img/restaurant/rest-mobile-3_2x.jpg 2x
              "
            />
            <img
              src="./img/restaurant/rest-mobile-3_1x.jpg"
              alt="hands in flour"
              width="245px"
              height="245px"
              class="rest-swiper-img"
            />
          </picture>
        </li>

        <li class="rest-slider-image mobile-visible swiper-slide">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/restaurant/rest-desktop-4_1x.jpg 1x,
                ./img/restaurant/rest-desktop-4_2x.jpg 2x
              "
            />
            <source
              media="(min-width: 1024px)"
              srcset="
                ./img/restaurant/rest-tablet-4_1x.jpg 1x,
                ./img/restaurant/rest-tablet-4_2x.jpg 2x
              "
            />
            <source
              media="(max-width: 1023px)"
              srcset="
                ./img/restaurant/rest-mobile-4_1x.jpg 1x,
                ./img/restaurant/rest-mobile-4_2x.jpg 2x
              "
            />
            <img
              src="./img/restaurant/rest-mobile-3_1x.jpg"
              alt="hands in flour"
              width="245px"
              height="245px"
              class="rest-swiper-img"
            />
          </picture>
        </li>

        <li class="rest-slider-image swiper-slide">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/restaurant/rest-desktop-5_1x.jpg 1x,
                ./img/restaurant/rest-desktop-5_2x.jpg 2x
              "
            />
            <source
              media="(min-width: 1024px)"
              srcset="
                ./img/restaurant/rest-tablet-5_1x.jpg 1x,
                ./img/restaurant/rest-tablet-5_2x.jpg 2x
              "
            />
            <source
              media="(max-width: 1023px)"
              srcset="
                ./img/restaurant/rest-mobile-5_1x.jpg 1x,
                ./img/restaurant/rest-mobile-5_2x.jpg 2x
              "
            />
            <img
              src="./img/restaurant/rest-mobile-3_1x.jpg"
              alt="hands in flour"
              width="245px"
              height="245px"
              class="rest-swiper-img"
            />
          </picture>
        </li>

        <li class="rest-slider-image swiper-slide">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/restaurant/rest-desktop-6_1x.jpg 1x,
                ./img/restaurant/rest-desktop-6_2x.jpg 2x
              "
            />
            <source
              media="(min-width: 1024px)"
              srcset="
                ./img/restaurant/rest-tablet-6_1x.jpg 1x,
                ./img/restaurant/rest-tablet-6_2x.jpg 2x
              "
            />
            <source
              media="(max-width: 1023px)"
              srcset="
                ./img/restaurant/rest-mobile-6_1x.jpg 1x,
                ./img/restaurant/rest-mobile-6_2x.jpg 2x
              "
            />
            <img
              src="./img/restaurant/rest-mobile-3_1x.jpg"
              alt="hands in flour"
              width="245px"
              height="245px"
              class="rest-swiper-img"
            />
          </picture>
        </li>

        <li class="rest-slider-image swiper-slide">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/restaurant/rest-desktop-7_1x.jpg 1x,
                ./img/restaurant/rest-desktop-7_2x.jpg 2x
              "
            />
            <source
              media="(min-width: 1024px)"
              srcset="
                ./img/restaurant/rest-tablet-7_1x.jpg 1x,
                ./img/restaurant/rest-tablet-7_2x.jpg 2x
              "
            />
            <source
              media="(max-width: 1023px)"
              srcset="
                ./img/restaurant/rest-mobile-7_1x.jpg 1x,
                ./img/restaurant/rest-mobile-7_2x.jpg 2x
              "
            />
            <img
              src="./img/restaurant/rest-mobile-3_1x.jpg"
              alt="hands in flour"
              width="245px"
              height="245px"
              class="rest-swiper-img"
            />
          </picture>
        </li>
      </ul>
    </div>
    
    <div class="rest-slider-btn">
      <button type="button" class="rest-swipe-left swiper-button-prev">
        <svg width="32px" height="32px">
          <use href="./img/sprite-icons.svg#arrow-left"></use>
        </svg>
      </button>
      <button type="button" class="rest-swipe-right swiper-button-next">
        <svg height="32px" width="32px">
          <use href="./img/sprite-icons.svg#arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

  <script>
    function myPlugin({ swiper, extendParams, on }) {
      extendParams({
        debugger: false,
      });

      on('init', () => {
        if (!swiper.params.debugger) return;
        console.log('init');
      });
      on('click', (swiper, e) => {
        if (!swiper.params.debugger) return;
        console.log('click');
      });
      on('tap', (swiper, e) => {
        if (!swiper.params.debugger) return;
        console.log('tap');
      });
      on('doubleTap', (swiper, e) => {
        if (!swiper.params.debugger) return;
        console.log('doubleTap');
      });
      on('sliderMove', (swiper, e) => {
        if (!swiper.params.debugger) return;
        console.log('sliderMove');
      });
      on('slideChange', () => {
        if (!swiper.params.debugger) return;
        console.log(
          'slideChange',
          swiper.previousIndex,
          '->',
          swiper.activeIndex
        );
      });
      on('slideChangeTransitionStart', () => {
        if (!swiper.params.debugger) return;
        console.log('slideChangeTransitionStart');
      });
      on('slideChangeTransitionEnd', () => {
        if (!swiper.params.debugger) return;
        console.log('slideChangeTransitionEnd');
      });
      on('transitionStart', () => {
        if (!swiper.params.debugger) return;
        console.log('transitionStart');
      });
      on('transitionEnd', () => {
        if (!swiper.params.debugger) return;
        console.log('transitionEnd');
      });
      on('fromEdge', () => {
        if (!swiper.params.debugger) return;
        console.log('fromEdge');
      });
      on('reachBeginning', () => {
        if (!swiper.params.debugger) return;
        console.log('reachBeginning');
      });
      on('reachEnd', () => {
        if (!swiper.params.debugger) return;
        console.log('reachEnd');
      });
    }
  </script>

  <script>
  
    var spaceBetween = 20;

    if (
      window.matchMedia('(min-width: 1024px)').matches &&
      window.matchMedia('(max-width: 1280px)').matches
    ) {
      spaceBetween = 40;
    } else if (window.matchMedia('(min-width: 1280px)').matches) {
      spaceBetween = 40;
    } else if (window.matchMedia('(max-width: 1024px)').matches) {
      spaceBetween = 24;
      
    }

    var swiper = new Swiper('.swiper', {
      modules: [myPlugin],
      slidesPerView: 'auto',

      spaceBetween: spaceBetween,

      pagination: {
        el: '.swiper-pagination',
        clickable: true,
        type: 'fraction',
      },

      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },

      debugger: true,
    });
  </script>
</section>
